.vs/
DataShuttle.Core/obj/
DataShuttle/obj/
DataShuttle/bin/
DataShuttle.Samples/obj/
DataShuttle.Samples/bin/
DataShuttle.Transports/obj/
DataShuttle.Transports/bin/
DataShuttle.Core/bin/
DataShuttle.sln.DotSettings.user
.idea/
DataShuttle.ConsoleSample/bin/
DataShuttle.WpfSample/bin/
DataShuttle.ConsoleSample/obj/
DataShuttle.WpfSample/obj/
